body, html {
	width: 100%;
	height: 100%;
	background-color: #E3DCD2;
	font-family: Arial, sans-serif, monospace; /*police écriture*/
}

body {
	background-image: url('../image/background/fond.jpg');
	background-size: cover; /* Assure que l'image couvre tout l'arrière-plan */
	margin: 0; /* Supprime les marges par défaut */
	padding: 0; /* Supprime les espaces de remplissage par défaut */
}

.background_green {
	background-color: #013328;
}

.background_bright {
	background-color: #E3DCD2;
}

.navbar {
	background-color: #013328 !important;
}

.nav-link {
	color: #E3DCD2; /*couleur du menu*/
	font-size: 20px;
	font-weight: bold;
}

.navbar-brand {
	color: #E3DCD2;
	font-size: 24px;
	font-weight: bold;
}

.bouton_menu {
	border-color: #E3DCD2;
	background-color: #E3DCD2;
	color: #013328;
}

.navbar-nav .nav-item {
	margin: 15px; /* Espacement de 10 pixels à droite entre les boutons */
	width: 100%;
}

.navbar-nav .nav-item a{
	cursor: pointer;
}

.navbar-nav .nav-item a.nav-link:hover {
	color: #FFFFFF; /* Changer la couleur du texte lors du survol */
}

.dropdown-menu {
	background-color: #E3DCD2; /* Changer la couleur de fond */
	color: #013328;
}

.dropdown-item:hover,
.dropdown-item:focus {
	background-color: #FFFFFF; /* Changer la couleur de fond au survol et au focus */
}

.navbar-nav .nav-link:focus {
	color: #FFFFFF; /* Changer la couleur en blanc lorsqu'un lien est activé ou en focus */
}

.navbar-brand:hover,
.navbar-brand:focus {
	color: #FFFFFF; /* Couleur au survol */
}

.dropdown-menu .dropdown-item {
	color: #013328; /* Changer la couleur de texte pour la liste déroulante des langues */
}

.drapeau {
	width: 20px;
	height: auto;
	margin-right: 5px;
	margin-bottom: 4px;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column; /* Aligner les éléments verticalement */
}

.container2 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh; /* Hauteur de la fenêtre visible */
	flex-direction: column; /* Aligner les éléments verticalement */
}

.text-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: white;
	width: 80%; /* Ajustez la largeur du conteneur de texte selon vos besoins */
	max-width: 700px; /* Ajustez la largeur maximale du conteneur de texte selon vos besoins */
	padding: 20px; /* Ajoutez un espace intérieur au conteneur de texte */
	background-color: rgba(0, 0, 0, 0.5); /* Ajoute un fond semi-transparent au conteneur de texte */
}

.text-container h1 {
	font-size: 32px;
}

.text-container p {
	font-size: 24px;
	color: white; /* Couleur du texte */
	text-align: center; /* Centrer le texte */
	margin-top: 20px; /* Marge en haut pour séparer le texte de l'image */
	line-height: 0.8; /* Ajustez cette valeur selon vos besoins */
}
#presentation {
	margin-bottom: 10%;
}
.titre_presentation h1 {
	margin-top: 15%;
	font-weight: bold;
	color: #013328;
	font-size: 36px;
}

.presentation-table {
	width: 100%;
}

.presentation-table td {
	padding: 10px;
}

.texte_presentation p {
	width: 80%;
	color: #013328;
	font-size: 18px;
	line-height: 1.6; /* Default line height */
	margin: 0;
	margin-left: 15%;
}

.profil img {
	max-width: 100%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
}



#competences {
	margin-bottom: 5%;
}
/* Styles spécifiques pour le carousel de compétences */

.skillbox h2 {
	color: #013328;
	font-size: 24px;
	font-weight: bold;
}

.skillbox p {
	color: #013328;
	font-size: 18px;
}


.skillbox p::before {
	content: "- "; /* Ajout d'un tiret suivi d'un espace avant chaque élément de liste */
}

.skillbox {
	display: flex; /* Utilisation de Flexbox */
	justify-content: space-around; /* Alignement des boîtes avec un espacement égal */
	flex-wrap: wrap; /* Permettre le retour à la ligne si nécessaire */
	border: 2px solid #FFFFFF; /* Ajout d'une bordure de 2px solide avec une couleur grise (#ccc) */
	padding: 3%; /* Ajout de marge intérieure pour séparer le contenu de la bordure */
	background-color: #FFFFFF;
	border-radius: 50px;
	text-align: center;
	height: 50%;
	margin-top: 2%;
}

.titre_competence h1, .logiciels h1 {
	margin-top: 12%;
	font-weight: bold;
	color: #013328;
	font-size: 40px;
	text-align: center;
}




.owl-carousel {
	display: flex; /* Utilisation de Flexbox */
	justify-content: space-around; /* Alignement des boîtes avec un espacement égal */
	flex-wrap: wrap; /* Permettre le retour à la ligne si nécessaire */
	border: 2px solid #FFFFFF; /* Ajout d'une bordure de 2px solide avec une couleur grise (#ccc) */
	padding: 1%; /* Ajout de marge intérieure pour séparer le contenu de la bordure */
	padding-top: 4%;
	background-color: #FFFFFF;
	border-radius: 150px;
	margin: 1%
}

.owl-carousel .item img {
	max-width: 60px;
	height: auto;
	max-height: 80px; /* Définissez la hauteur maximale souhaitée */
	margin-left: 44%;
}

button.owl-prev,
button.owl-next {
	display: inline-block;
	background-color: #013328;
	border-radius: 10px;
	border: #013328;
	color: #E3DCD2;
	text-align: center;
	font-size: 15px;
	width: 140px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 10px;
	font-weight: bold;
	height: 40px;
}

button.owl-prev span,
button.owl-next span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

button.owl-prev span:after {
	content: "\00ab";
	position: absolute;
	opacity: 0;
	top: 0;
	left: -20px;
	transition: 0.5s;
}

button.owl-next span:after {
	content: "\00bb";
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

button.owl-next:hover,
button.owl-prev:hover {
	background-color: #036953;
}

button.owl-next:hover span {
	padding-right: 25px;
}

button.owl-prev:hover span {
	padding-left: 25px;
}

button.owl-prev:hover span:after {
	opacity: 1;
	left: 0;
}

button.owl-next:hover span:after {
	opacity: 1;
	right: 0;
}


.logiciels {
	margin: 5%;
}

.logiciels h1 {
	font-weight: bold;
	color: #013328;
	font-size: 40px;
}

.logiciels h2 {
	font-weight: bold;
	color: #013328;
	font-size: 36px;
}

#parcours {
	color: #013328;
	margin-bottom: 1%;
}

.titre_parcours h1 {
	color: #013328;
	font-size: 40px;
	font-weight: bold;
	margin-top: 15%;
}

.title span {
	color: #8a2be2;
}

.timeline {
	position: relative;
	max-width: 1200px;
	margin: 1%;
}

.timebox:nth-child(1) {
	animation-delay: 0s;
}

.timebox:nth-child(2) {
	animation-delay: 1s;
}

.timebox:nth-child(3) {
	animation-delay: 2s;
}

.timebox {
	padding: 10px 50px;
	position: relative;
	width: 50%;
	border-radius: 6px;
	animation: movedown 1s linear forwards;
	opacity: 0;
}

@keyframes movedown {
	0% {
		opacity: 1;
		transform: translateY(-30px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

.text-box {
	padding: 20px 30px;
	background: #FFFFFF;
	position: relative;
	border-radius: 6px;
	font-size: 15px;
}

.left-container {
	left: 0;
}

.right-container {
	left: 50%;
}

.timebox img {
	position: absolute;
	width: 40px;
	border-radius: 50%;
	right: -20px;
	top: 32px;
	z-index: 10;
}

.right-container img {
	left: -20px;
}

.timeline::after {
	content: '';
	position: absolute;
	width: 6px;
	height: 100%;
	background: white;
	top: 0;
	left: 50%;
	margin-left: -3px;
	z-index: -1;
	animation: moveline 2s linear forwards;
}

@keyframes moveline {
	0% {
		height: 0%;
	}
	100% {
		height: 100%;
	}
}

.text-box h2 {
	font-weight: 600;
}

.text-box small {
	display: inline-block;
	margin-bottom: 15px;
}

.left-container-arrow {
	height: 0;
	width: 0;
	position: absolute;
	top: 20px;
	z-index: 1;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid #FFFFFF;
	right: -15px;
}

.right-container-arrow {
	height: 0;
	width: 0;
	position: absolute;
	top: 20px;
	z-index: 1;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 15px solid #FFFFFF;
	left: -15px;
}

.rectangle {
	max-width: 280px; /* Largeur du rectangle, prendra toute la largeur du conteneur */
	height: 200px; /* Hauteur du rectangle */
	background-color: #013328; /* Couleur de fond du rectangle */
	margin-top: -25%; /* Espace au-dessus du rectangle */
	margin-bottom: 20%;
	border-radius: 40px;
}


.rectangle h3 {
	color: #E3DCD2;
	text-align: center;
	font-weight: bold;
	position: relative;
	top: 60%; /* Ajustez cette valeur selon votre besoin */
	transform: translateY(-50%);
}

.projetimg {
	margin-top: -10%;
}

.liste_projet img {
	border-radius: 40px; /* Vous pouvez ajuster la valeur selon vos préférences */
}

/* Ajoutez ces styles CSS pour l'animation des projets */
.projet1,
.projet2,
.projet3 {
	position: relative;
	overflow: hidden;
	cursor: pointer;
	transition: transform 0.3s ease; /* Animation de transition */
}

.projet1:hover,
.projet2:hover,
.projet3:hover {
	transform: scale(1.05); /* Zoom au survol */
}

.titre_projet h1 {
	margin-top: 15%;
	font-weight: bold;
	color: #013328;
	font-size: 36px;
}

.modal-header {
	background-color: #013328;
}

.modal-content {
	color: #E3DCD2;
}

.modal-body {
	background-color: #E3DCD2;
}

.modal-body p {
	color: #013328;
}

.modal-footer {
	background-color: #013328;
}

.mb-3 {
	color: #013328;
	font-weight: bold;
}

.fs-5 {
	color: #E3DCD2;
	font-weight: bold;
}

.spacer {
    margin-bottom: 1%; /* Marge inférieure */
	border-color: #013328;
	border-width: 5px;
	opacity: 1;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width: 992px) {
	.navbar {
	background-color: #013328 !important;
	max-height:600px;
	overflow-y: scroll;
	}
    .timeline{
        margin: 50px auto;
    }
    .timeline::after{
        left: 31px;
    }
    .timebox{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .text-box{
        font-size: 13px;

    }
    .text-box small{
        margin-bottom: 10px;
    }
    .right-container{
        left: 0;
    }
    .left-container img, .right-container img{
        left: 10px;
    }
    .left-container-arrow, .right-container-arrow{
        border-right: 15px solid #FFFFFF;
        border-left: 0;
        left: -15px;
    }
	.rectangle h3 {
		color: #E3DCD2;
		text-align: center;
		font-weight: bold;
		position: relative;
		top: 70%; /* Ajustez cette valeur selon votre besoin */
		transform: translateY(-50%);
	}
	.liste_projet {
	    display: flex;
	    justify-content: center; /* Horizontally center columns */
	}
	
	.row {
		display: flex;
		flex-direction: column; /* Stack columns vertically */
		align-items: center; /* Center items horizontally */
	}
	
	.col {
		width: 100%; /* Take up full width */
		max-width: 280px; /* Max width of each column */
		margin-bottom: 20px; /* Add some space between columns */
	}	
}

@media screen and (max-width: 767px) {
	.profil img {
	max-width: 100%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	}
	.presentation-table {
        display: block;
    }

    .texte_presentation,
    .profil {
        display: block;
        width: 100%;
    }
}
